[Desktop Entry]
Categories=Network;InstantMessaging;Chat
Exec=vesktop --enable-features=WebRTCPipeWireCapturer --ozone-platform=wayland
GenericName=Internet Messenger
Icon=vesktop
Keywords=discord;vencord;electron;chat
MimeType=x-scheme-handler/discord
Name=Vesktop
StartupWMClass=Vesktop
Type=Application
Version=1.5
